<table class="table table-condensed">
  <thead>
    <tr>
      <th><%= t :indicator %></th>
      <th><%= t :correlation_with_indicator, indicator: t(comparison_indicator, scope: :indicators) %></th>
    </tr>
  </thead>
  <tbody>
  <% @correlations.
       select { |c| c.comparison_indicator == comparison_indicator }.
       each do |correlation| %>
    <tr>
      <td><%= t correlation.indicator, scope: :indicators %></td>
      <td><%= number_with_precision correlation.value, delimiter: ',' %></td>
    </tr>
  <% end %>
  </tbody>
</table>
