<%= form_for @graph, url: municipality_graph_poverty_indicators_path, method: :get do |f| %>

  <div class="col-xs-2">
    <%= f.select :formula,
                 options_for_select(formulas.map { |formula| [t(formula, scope: :formulas), formula] }, @graph.formula),
                 {},
                 class: 'form-control' %>
  </div>

  <div class="col-xs-3">
    <%= f.select :indicator,
                 options_for_select(PovertyIndicator.indicators.map { |i| [t(i, scope: :indicators), i] }, @graph.indicator),
                 {},
                 class: 'form-control' %>
  </div>

  <div class="col-xs-4">
    <button type="submit" class="btn btn-default"><%= t :graphic %></button>
  </div>

<% end %>
